.card {
  box-sizing: border-box;
  width: 200px;

  padding: 16px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;

  font-family: $font-family;

  &__image {
    display: block;
    width: 160px;
    height: 134px;

    margin: 16px auto 40px;
  }

  &__title {
    margin: 0 0 4px;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    color: $text-color;
  }

  &__code {
    margin: 0 0 16px;

    font-size: 10px;
    line-height: 14px;

    color: $secondary-text-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;

    color: $text-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 16px;
  }

  &__price-label {
    font-size: 12px;
    line-height: 18px;

    color: $secondary-text-color;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    color: $text-color;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;

    border: 1px solid $button-border-color;
    border-radius: 5px;

    background-color: $button-color;

    color: #fff;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    text-decoration: none;
    text-transform: uppercase;

    transition: all 0.3s;

    &:hover {
      background-color: #fff;
      color: $button-color;
    }
  }
}
